.game-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.game-card:hover {
  transform: scale(1.02);
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.league-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff;
}

.league-info {
  margin-top: 10px;
}

.game-details {
  margin-top: 10px;
}

.location {
  font-weight: bold;
  font-size: 1.2rem;
  color: #007bff;
}

.game-type,
.cost {
  font-size: 1.2rem;
}

.join-button,
.share-button {
  margin-top: 10px;
  width: 100%;
}

.join-button {
  background-color: #28a745;
  border: none;
}

.share-button {
  background-color: #17a2b8;
  border: none;
}

.game-specs {
  margin-top: 20px;
  font-size: 1rem;
  color: #6c757d;
  white-space: pre-line; /* To handle the new lines in the specs */
}

.games-header {
  text-align: center;
  margin-bottom: 30px;
}
